h1{
    size: 24px;
    align-content: center;
    text-align: center;
    color: black;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('30566C26-D81C-4018-B60A-DE81FC4A4CAE.JPEG ');
     /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

i {
    align-content: center;
    font-size: xx-large;
    color: black;
}

 .navbar navbar-expand-lg navbar-light bg-light {
     align-content: center;
 }

 .card {
     padding: 8px;
     opacity: .8;
 }

 

