h1{
    size: 24px;
    align-content: center;
    text-align: center;
    color: black;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('30566C26-D81C-4018-B60A-DE81FC4A4CAE.JPEG ');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

i {
    align-content: center;
    font-size: xx-large;
    color: black;
}


 .card {
     padding: 8px;
     background: rgba(243, 241, 241, 0.5);
     
 }

#list-group-item {
    background: rgba(243, 241, 241, 0.5);
 }
 

